@model model.entity.Giro
@{
    ViewBag.Title = "Menu Giro";
}


@Html.Partial("~/Views/Shared/NavBar.cshtml")

@{Html.DisplayNameFor(model => model.NombreGiro);}


@*<h2>Menu Consultas </h2>*@

<menu>
    <a class="btn btn-success" href="~/Usuario/Inicio/">10 mejores jugadores</a>
    <a class="btn btn-success" href="~/CuentaAhorro/Inicio/">10 corredores más regulares</a>
    <a class="btn btn-success" href="~/Usuario/Inicio/">10 corredores con más puntos de montaña</a>
    <a class="btn btn-success" href="~/Beneficiario/BeneficiariosAdmin/">3 mejores equipos</a>
</menu> 